.analyze-meal {
  padding: 12px 18px;
  height: min-content;
  background: var(--color-header-background);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .analyze-meal-title {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .analyze-meal-text {
    font-size: 13px;
    color: var(--color-card-info-text);
  }

  .analyze-meal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (width < 900px) {
      flex-direction: column;

      & .analyze-meal__button-icon {
        transform: rotate(90deg);
      }
    }
  }

  .analyze-meal-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    align-self: stretch;
    gap: 12px;
    padding: 16px;
    border: 1px solid var(--color-card-counter-border);
    background-color: var(--color-background);
  }

  .analyze-meal-photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    align-items: center;
  }

  .analyze-meal-photo__item {
    position: relative;
  }

  .analyze-meal-photo__item--photo,
  .output-image {
    width: 120px;
    height: 92px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 12px;
  }

  .remove-button {
    position: absolute;
    top: 1px;
    right: 1px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .remove-button__icon {
    width: 24px;
    height: 24px;

    color: var(--color-remove-button-active);

    &:hover {
      color: var(--color-remove-button-hover);
    }

    &:active {
      color: var(--color-remove-button-active);
    }
  }

  .analyze-meal-photo-add {
    width: 120px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: var(--color-header-background);
    transition: background-color 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--color-card-counter-border);
    }

    &:active {
      background-color: var(--color-arrow-hover);
    }
  }

  .photo-add-icon {
    width: 40px;
    height: 40px;
  }

  .photo-add-text {
    font-size: 13px;
    color: var(--color-card-info-text);
  }

  .analyze-meal-input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    padding: 11px 12px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: var(--color-header-background);
  }

  .analyze-meal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 0;

    .analyze-meal__button-icon {
      height: 40px;
      width: 40px;
      color: var(--color-arrow);
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--color-arrow-hover);
      }

      &:active {
        color: var(--color-arrow-active);
      }
    }
  }

  .analyze-meal-output {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid var(--color-card-counter-border);
    background-color: var(--color-background);
  }

  .output-header {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  .output-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
  }

  .output-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    & button .button__text {
      font-size: 12px;
    }

    & button:nth-child(1) {
      width: 62px;
    }

    & button:nth-child(1) {
      width: 114px;
    }

    & button:nth-child(1) {
      width: 68px;
    }
  }

  .name,
  .info {
    padding: 0;
    margin: 0;
    font-size: 15px;
  }

  .note {
    margin: 8px 0 5px 0;
    font-size: 13px;
    color: var(--color-card-info-text);
  }

  .info {
    color: var(--color-card-info-text);
    font-size: 13px;
  }
}
