// basic
$white: #ffffff;
$black: #000000;

$white-alpha-5: rgba(#ffffff, 0.0471);

// navy
$navy-1000: #03152a;
$navy-975: #04152b;
$navy-950: #05162b;
$navy-925: #06162b;
$navy-900: #06162c;
$navy-875: #06172d;
$navy-850: #07111e;
$navy-825: #07162a;
$navy-800: #07172d;
$navy-775: #08162b;
$navy-700: #0d1728;
$navy-600: #101c31;
$navy-500: #111936;

// blue
$blue-600: #284d86;

// slate
$slate-700: #66718d;
$slate-500: #aab6cc;
$slate-300: #c7cfda;
$slate-200: #e3e7ee;

// gray
$gray-900: #222222;
$gray-100: #f6f7f9;
$gray-50: #fafbfc;

// gold

$gold-700: #d99a00;
$gold-600: #e0a20b;
$gold-500: #deba6f;
$gold-400: #d8b364;
$gold-350: #d4b16b;
$gold-300: #d0b76d;
$gold-250: #deb968;

// orange
$orange-700: #c86200;
$orange-600: #e6860f;
$orange-500: #cc6500;
$orange-400: #f7951c;

// brown
$brown-900: #462212;
$brown-700: #7a331d;
$brown-500: #9b6e28;
$brown-400: #2a2414;

// cream
$cream-500: #deb364;
$cream-450: #deb968;
$cream-400: #f0e0ba;
$cream-350: #f1e6ca;
$cream-300: #f4e6c8;
$cream-250: #fbf5e8;
$cream-200: #fbf6ea;
$cream-150: #fff5db;
$cream-100: #ffe3a4;

// danger
$red-500: #ff5757;

// misc
$surface-light: #f7f9ff;
