@use './palette' as palette;

:root,
[data-theme='light'] {
  --color-brand: #{palette.$orange-400};
  --color-brand-reversed: #{palette.$orange-500};
  --color-brand-hover: #{palette.$orange-600};
  --color-background: #{palette.$gray-100};
  --color-background-reversed: #{palette.$navy-850};
  --color-text-primary: #{palette.$navy-500};
  --color-background-header: #{palette.$white};
  --color-logo: #{palette.$brown-900};
  --color-disabled: #{palette.$slate-700};
  --theme-icon-sun-brand: var(--color-brand);
  --theme-icon-sun: var(--color-text-primary);
  --theme-icon-moon-brand: var(--color-disabled);
  --theme-icon-moon: var(--color-disabled);
  --color-user-border: #{palette.$slate-700};
  --color-user-background: #{palette.$slate-500};
  --color-sidebar-background: #{palette.$white};
  --color-border: #{palette.$slate-200};
  --color-sidebar-active: #{palette.$cream-150};
  --color-sidebar-hover: #{palette.$cream-300};
  --color-sidebar-hover-active: #{palette.$cream-400};
}
